<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
       >
    <!-- 基于配置文件实现AOP -->
    <!--
    <bean id="helloService" class="com.summer.tech.spring.aop.HelloWorldService" />
	<bean id="helloAspect" class="com.summer.tech.spring.aop.HelloWorldAspect" />
	<aop:config>
		<aop:pointcut expression="execution(* com.summer.tech.spring.aop.*.*(..))" id="helloPoint"/>
		<aop:advisor advice-ref="logBeforeAdvice" pointcut-ref="helloPoint" />
		<aop:aspect ref="helloAspect">
			 <aop:before method="beforeAdvice" pointcut-ref="helloPoint" />
			<aop:after method="afterFinallyAdvice" pointcut-ref="helloPoint"/>
			<aop:around method="aroundAdvice" pointcut-ref="helloPoint"/>
		</aop:aspect>

	</aop:config>
	<bean id="logBeforeAdvice" class="com.summer.tech.spring.aop.LogBeforeAdvice" />
 	-->
	<!-- 基于注解实现AOP -->
	<aop:aspectj-autoproxy proxy-target-class="false" />
	<bean id="aspect"  class="com.summer.tech.spring.aop.HelloWorldAspectAnnotionArg"/>

	<bean id="helloService" class="com.summer.tech.spring.aop.HelloWorldService" />


</beans>